.image-me {
  background-image: url('../img/me.jpg');
}

.image-guide {
  background-image: url('../img/guide.jpg');
}

.image-library {
  background-image: url('../img/element-library.jpg');
}

.image-apprix {
  background-image: url('../img/apprix-1.jpeg');
}

.image-soundartbank {
  background-image: url('../img/sab.jpg');
}

.image-solar {
  background-image: url('../img/solar.jpg');
}
